<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="assets/profile.png" alt="Profile" />
        <div class="logo-description">
          <p>Patient</p>
          <p><%= user.email %></p>
        </div>
      </div>

      <ul class="menu">
        <li><i class="fas fa-home"></i> <a href="#">Dashboard</a></li>
        <li><i class="fas fa-calendar-alt"></i> <a href="/patient-appointments?userId=<%= user._id %>">Appointments</a></li>
        <li><i class="fas fa-user-md"></i> <a href="/patient-doctors">Doctors</a></li>
      </ul>
    </div>

    <div class="Side">
      <div class="topbar">
        <div class="date">
          <p>Date: <%= new Date().toLocaleDateString() %></p>
        </div>

        <div class="logout">
          <form action="/logout" method="GET">
            <button type="submit">Logout</button>
          </form>
        </div>
      </div>

      <div class="appointments-container">
        <% if (showMessage) { %>
          <p class="success-message"><%= message %></p>
        <% } %>

        <div class="profile-container">
          <div class="profile-name"><%= user.fullName %></div>
          <div class="profile-info">
            <span class="profile-info-label">Email:</span>
            <span class="profile-info-value"><%= user.email %></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
